.footer {
  padding: 36px 0 16px 0;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  background-color: #0a224a;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
    max-width: 768px;
    padding: 36px 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
}

.footer-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 60px;
  }
}

.footer-first-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer-first-block {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-first-block {
    display: flex;
    gap: 223px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-logo {
    margin-bottom: 39px;
  }
}

.footer-icon {
  fill: var(--color-white);
  width: 100px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .footer-icon {
    width: 115px;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    position: absolute;
    top: 44px;
    left: 50%;
    gap: 16px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer-nav-list {
    position: static;
    flex-direction: row;
    gap: 30px;
  }
}

.footer-nav-link {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 18px;
  }
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
}

.footer-social-icon {
  width: 28px;
  height: 28px;
  transition: fill 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .footer-social-icon {
    width: 40px;
    height: 40px;
  }
}

.footer-social-link:hover,
.footer-social-link:focus {
  fill: rgb(77, 226, 231);
}

@media screen and (min-width: 1440px) {
  .footer-address {
    display: flex;
    margin-bottom: 35px;
  }
}

.address-list {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .address-list {
    width: 250px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .address-list {
    margin-right: 87px;
    margin-bottom: 0;
  }
}

.footer-address-item:first-child {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer-address-item:first-child {
    margin-bottom: 24px;
  }
}

.address-link {
  font-size: 16px;
  letter-spacing: 0.01em;
  color: white;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 19px;
  }
}

.address-telephone {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .address-telephone {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .address-telephone {
    margin-right: 82px;
    margin-bottom: 0;
  }
}

.telephone-item:first-child {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .telephone-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .address-email {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .address-email {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .address-email {
    margin-bottom: 0;
  }
}

.privacy-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  opacity: 0.6;
  margin-bottom: 0;
  color: white;
}

@media screen and (min-width: 768px) {
  .privacy-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
    text-align: center;
  }
}

.link-color {
  color: currentColor;
  text-decoration: underline;
}
