#footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  // margin-top: 0;
  // margin-bottom: 0;
}

.footer-style {
  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background-color: #0a224a;
  width: auto;
  padding: 36px 60px;
  color: #ffffff;
  min-width: 1440px;
  max-width: 375px;
  margin: 0 auto;
}

.footer-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  row-gap: 24px;
}

.footer-icon {
  width: 127.58px;
  height: 16.98px;
  margin-top: 12px;
  margin-bottom: 39px;
  margin-right: 209px;
}

.footer-nav {
  margin-right: 286px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.footer-list.two {
  list-style-type: none;
  width: 180px;
  height: 40px;
}

.footer-menu-item {
  width: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  padding: 8px 0px 0px 0px;
}

.footer-menu-item-a {
  text-decoration: none;
  color: #ffffff;
}

.footer-svg {
  fill: #0a224a;
  width: 40px;
  height: 40px;
}

.footer-adr {
  display: flex;
  flex-direction: row;
  justify-content: left;
  column-gap: 87px;
  margin-right: 534px;
  font-family: Roboto;
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.27px;
  letter-spacing: 0.01em;
  text-align: left;
  flex-basis: calc((100% - 2 * 87px) / 3);
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  row-gap: 24px;
}

.contact-adress {
  text-decoration: none;
  color: #ffffff;
}

.footer-service-policy {
  width: 618px;
  opacity: 60%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.1875px;
  margin: 35px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-color {
  color: #ffffff;
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  .footer-style {
    max-width: 1440px;
  }
}
