.news-main {
  padding: 100px 0 86px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
  width: 1096px;
  height: auto;
  border: 1px solid #b6b6b6;
}

.news-form {
  width: 536px;
  height: auto;
}

.newsletter-h-doi {
  width: 424px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  color: #0a224a;
  margin-bottom: 31px;
}

.newsletter-p {
  width: 536px;
  // height: 48px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.m-bot {
  margin-bottom: 20.71px;
}

.news-input {
  width: 536px;
  // height: 51.77px;
  padding: 11px 20px 11px 20px;
  gap: 8px;
  border: 1px solid #b6b6b6;
}

.news-input::placeholder {
  color: #d9d9d9;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

form:invalid button {
  opacity: 0.3;
  pointer-events: none;
}

.news-checkbox {
  margin-bottom: 31.06px;
  width: 378px;
  // height: 27.95px;
  color: #7a7a7a;
  border: 1px solid #b6b6b6;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.news-box {
  width: 25px;
  // height: 25.88px;
  border: 1px solid #b6b6b6;
}

input[type='checkbox'] {
  accent-color: #0a224a;
}

.news-img {
  width: 460px;
  height: auto;
}

.news-button {
  width: 224px;
  height: auto;
  padding: 17px 65px 17px 65px;
  gap: 6px;
  background-color: #0a224a;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
