.reviews-container {
  background-color: #f7faff;
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.reviews-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.blocks-container {
  display: flex;
  margin-top: 30px;
  background-color: white;
  justify-content: center;
}

.profile-cont {
  display: flex;
}

.reviews-image-section {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  margin-right: 14px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.time {
  font-size: 16px;
}

.review-paragraph {
  font-family: 'Roboto' sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin-top: 16px;
}
