<footer class="footer" id="footer">
  <div class="footer-container">
    <div class="footer-first-container">
      <div class="footer-first-block">
        <a class="footer-logo" href="index.html">
          <svg class="footer-icon" width="127.58" height="16.98">
            <use href="./images/symbol-defs.svg#icon-minimal"></use>
          </svg>
        </a>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="about-us-section">About us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="ourproducts">Our products</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="price-section">Prices</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="bestsellers">Bestsellers</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="reviews-section">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-social-block">
        <ul class="footer-social-list">
          <li class="footer-social-list">
            <a class="footer-social-link" href="https://www.facebook.com/" target="_blank">
              <svg class="footer-social-icon" width="40" height="40">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list">
            <a class="footer-social-link" href="https://www.instagram.com/" target="_blank">
              <svg class="footer-social-icon" width="40" height="40">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list">
            <a class="footer-social-link" href="https://www.youtube.com/" target="_blank">
              <svg class="footer-social-icon" width="40" height="40">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-second-container">
      <div class="footer-address">
        <ul class="address-list">
          <li class="footer-address-item">
            <a class="address-link" href="https://maps.app.goo.gl/AeX67JmRPz2YtbdP6" target="_blank">Obolonsky
              Prospect,
              14, Kyiv</a>
          </li>
          <li class="footer-address-item">
            <a class="address-link" href="">Daily <time>10:00</time>-<time>21:00</time></a>
          </li>
        </ul>
        <address>
          <ul class="address-telephone">
            <li class="telephone-item">
              <a class="address-link" href="tel:+380669384758">+380669384758</a>
            </li>
            <li class="telephone-item">
              <a class="address-link" href="tel:+380679384758">+380679384758</a>
            </li>
          </ul>
        </address>
        <address>
          <a class="address-link" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
        </address>
      </div>

      <p class="privacy-text">
        By using this website, you agree to the&puncsp;
        <a class="link-color" href="#">Terms of Service</a>
        &puncsp;and&puncsp;
        <a class="link-color" href="#">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>