<section class="newsletter" id="id-section-newsletter">
  <div class="newsletter-container">
    <div>
      <h2 class="newsletter-title">Newsletter</h2>
      <p class="newsletter-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="form">
        <div class="form-field">
          <label class="form-label" for="user-name"> </label>
          <div class="input-box">
            <input class="form-input" type="text" name="name" id="user-name" minlength="3" maxlength="16"
              placeholder="Name" required />
            <span class="span-error">
              <svg class="icon-error" width="24" height="24">
                <use href="#"></use>
                <!-- adauga icon ----=========-------- -->
              </svg>
            </span>
          </div>
        </div>

        <div class="form-field">
          <label class="form-label" for="user-email"> </label>
          <div class="input-box">
            <input class="form-input" type="email" name="user-email" id="user-email" placeholder="E-mail" required />
            <span class="span-error">
              <svg class="icon-error" width="24" height="24">
                <use href="#"></use>
              </svg>
            </span>
          </div>
        </div>

        <div class="checkbox">
          <input class="checkbox-input visually-hidden" type="checkbox" id="user-checkbox" name="user-newsletter"
            required />
          <label class="checkbox-label" for="user-checkbox">
            <span class="checkbox-span">
              <svg class="checkbox-icon" width="13" height="13">
                <use href="#"></use>
              </svg>
            </span>
            Agree to subscribe to the newsletter
          </label>
        </div>
        <button class="form-button" type="submit">Send</button>
      </form>
    </div>

    <div class="newsletter-photo">
      <picture>
        <img src="./images/newsletter-picture@1x.jpg" alt="furniture" />
      </picture>
    </div>
  </div>
</section>