<section class="reviews-container" id="reviews-section">
    <h1 class="reviews-header">Reviews Section</h1>
    <div class="blocks-container">
        <div class="first-block">
            <div class="profile-cont">
                <img class="reviews-image-section" src="./images/reviews-first-image.jpg" alt="">
                <div class="profile-info">
                    <div class="name">
                        <h3>ALEXANDRA DREAM</h3>
                    </div>
                    <div class="time">A week ago</div>
                </div>
            </div>
            <p class="review-paragraph">I was blown away by the quality and <br>
                craftsmanship of the furniture I received <br>
                from this company. Each piece was unique <br>
                and beautifully designed, and you can tell <br>
                that a lot of thought and care goes into every <br>
                detail. </p>
        </div>

        <div class="second-block">
            <div class="profile-cont">
                <img class="reviews-image-section" src="./images/reviews-second-image.jpg" alt="James Williams">
                <div class="profile-info">
                    <div class="name">
                        <h3>JAMES WILLIAMS</h3>
                    </div>
                    <div class="time">A week ago</div>
                </div>
            </div>
            <p class="review-paragraph">The "Minimal" furniture set is a fantastic <br>
                addition to my home. It boasts a minimalist <br>
                design, enhancing the feel and look of my <br>
                living space. The sturdy construction is <br>
                worth noting too, which speaks volumes <br>
                about its durability.</p>
        </div>

        <div class="third-block">
            <div class="profile-cont">
                <img class="reviews-image-section" src="./images/reviews-third-image.jpg" alt="Emily Watson">
                <div class="profile-info">
                    <div class="name">
                        <h3>EMILY WATSON</h3>
                    </div>
                    <div class="time">A week ago</div>
                </div>
            </div>
            <p class="review-paragraph">The "Minimal" furniture set has far exceeded <br>
                my expectations. The sleek design combined <br>
                with the high-quality materials have not only <br>
                added an exceptional aesthetic to my space <br>
                but also offered an uncompromising <br>
                standard of comfort.</p>
        </div>
    </div>
</section>